Sintaxis

// Color Variables
$color-primary: #404041;
$color-secondary: #f15c22;
$color-third: #00A6A5;
$color-fourth: white;

// Font size Variables
$font-size-xx-large: 48px;
$font-size-x-large: 36px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-regular:16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
$font-size-xx-small: 10px;

// Font families Variables
$font-family-primary: "Lato", sans-serif;
$font-family-secondary: "Dosis", sans-serif;

// Font weight Variables
$font-weight-regular: 400;
$font-weight-light:200; 
$font-weight-bold:500; 

// text-transform Variables
$font-text-transform: uppercase;


// text-align Variables
$font-text-align-primary:left;
$font-text-align-secondary:center;
$font-text-align-third:right;


// font-style Variables
$font-style: italic;


// text-decoration Variables
$font-text-decoration-primary:underline;
$font-text-decoration-secondary:none;

// line-height Variables
$font-line-height-small:0.5;
$font-line-height-large:25px;

// Width buttons Variables
$button-width-large: 240px;
$button-width-medium: 65%;
$button-width-small: 83px;

// Height buttons Variables
$button-height-large: 70px;
$button-height-medium: 13%;
$button-height-small: 20px;

// Border-radius Variables
$border-radius-small: 5px;
$border-radius-medium: 8px;
$border-radius-large: 15px;

// Border Variables
$border-primary: 2px solid #f15c22;
$border-secondary: 10px solid white;
$border-third: none;
$border-fourth: 5px solid #00A6A5;
$border-fifth: 2px solid #00A6A5;

// Padding buttons Variables
$button-padding: 10px 10px;
$button-padding: ;

//margin Variables


