.sg-container-full{

width: 100%;

}
.sg-logo{
    margin: 0 auto;
    width: 20%;
    padding-bottom:20px;
}
.sg-style-guide{
    margin: 0;
    background: #fff;
    background: #ddd;
}

.sg-wrapper{
    max-width: 970px;
    margin: 0 auto;
    background: #ddd;
    padding:1rem;
}

.sg-main-title{
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 3rem;
    color:#00A6A5;
    text-transform: uppercase;
    margin:0;
}

.sg-title-style-guide{
    font-family: "DOSIS", sans-serif;
    font-size: 2rem;
    color: #404041;
    text-transform: uppercase;
    text-align: center;
}
.sg-subtitle-style-guide{
    font-family: "DOSIS", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    margin: 40px;
    text-align: center;
    text-transform: uppercase;
}

.sg-margin-bottom{
    margin-bottom: 15px;
}
.sg-padding-top{
    padding-top: 15px;
}

.sg-text-left{
    text-align: left;

}
.sg-subtitle{
    text-align: center;


}

.sg-container-colores{
    width:500px;
    height:150px;
    margin: 0 auto;
}
.sg-container-borde{
    width:650px;
    height:150px;
    margin: 0 auto;
}
.sg-color-corporativo1{
    width:150px;
    height:150px;
    background-color:#00A6A5;
    float:left;
    color:white;
    margin-left: 10px;

}

.sg-color-corporativo2{
    width:150px;
    height:150px;
    background-color:#F15C22;
    color:white;
    float: left;
    margin-left: 10px;

}

.sg-color-corporativo3{
    width:150px;
    height:150px;
    background-color:#404041;
    color:white;
    float:left;
    margin-left: 10px;
}

.sg-color-tipografia{
    background-color:#808284;
    margin-left: 20px;
    float: none;

}

.sg-izquierda{
    padding-left: 0px;
}

.sg-fondo-blanco{

    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.sg-margin-auto{

    margin: 0 auto;


}
.sg-margin-top{

    margin-top: 10px;
}
.sg-display-block{

    display: block;
}
.sg-float-left{

    float: left;
    margin-left: 20px;
}

.sg-float-none{
    float: none;
    clear: both;
}

.sg-contenedor-header{
    width: 1500px;
}
.sg-container-button{

    width: 74%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.sg-pepe{
    width: 20%;
    float: left;
    margin-right: 20px;
}

.sg-pepe-imagen{
    width: 100%;
}

.sg-todos-anuncios{
    width: 100%;
    margin: 10px 0px 40px 0px;
}
.sg-todos-anuncios li{

    list-style: none;

}
.sg-row {
  border: 2px solid  white;
  margin-bottom: 20px;
  max-width: 1280px;
}


.sg-col-3{

    background-color: white;
    float: left;
    width: 30%;


}

.sg-col-9{

    background-color: #F0F0F0;
    float: left;
    width: 70%;


}

.sg-col-4{

    background-color: white;
    border: 1px solid #DCDCDB;


}

.sg-contenido-valoraciones{
    width: 70%;
    margin: 0 auto;
}