/*------
aside ampliado
------*/

.parte-derecha-info {
    width: 30%;
    float: left;
    margin-left:30px;
    background-color:white;
    /*padding: 50px 30px 300px 30px;*/
    padding: 10px 30px 80px 30px;
}

.mini-box-info{
    margin-top: 50px;
    clear: both;
}

.info-name{
      margin-left: 10px;
      float: left;
}

.sub-info-name{
    clear: both;
    /*padding-bottom: 20px;*/
}

.container-perfil{
    margin: 20px 20px 0 0;
}

.texto-perfil{
    margin-left: 60px;
}

.titulos-apartados {
    margin-bottom: 20px;
}

.programa{
    clear: both;
    /*--margin-top: 10px;--*/
}

/*-------

aside categorias
------*/
.filtros {
    float: left;
    width: 17%;
    margin-top: 66px;
    clear: both;

}

.categorias{
    margin-top:50px;
}
.categorias-menu {
    padding-right: 10px;
    line-height: 30px;
    margin: 0;
}

.categorias-menu a:hover,
.categorias-menu a.select {
    color:#f15c22;
}

ul{

  padding-left:0;
}
.lista-categorias{
    margin-top: 20px;
    list-style: none;
}


.programas{
    margin-top: 30px;
}

.cuadro-program{

    margin-top: 20px;
    width: 60%;
}

.categorias-2{
    margin-top: 30px;
}

.checkbox{
    padding: 0px;
    margin-top: 20px;
}

.filtros-hide-tablet{
    padding:10px 30px;
    margin-bottom: 30px;
}

.filtros-2{
    display: none;
}


.grupo-iconos{

    width: 33%;

}
.categorias-hide{

    padding-top:30px;
}
.categorias-hide-2{

    padding-top:25px;
}
.flecha-abrir {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #404041;
  margin:23px 0 0 10px;
  cursor:pointer;
}

.flecha-cerrar{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #404041;
  margin:23px 0 0 10px;
  cursor:pointer;
  display:none;
}

.container-ordenar-mobile{

  display: none;
}
/*--------

aside perfil
--------*/

.parte-izquierda {
    width: 30%;
    padding: 30px 30px;
    background-color: white;
}

.cien-por-cien {
  width: 100%;
}

.img-perfil{
    width:60%;
}

.informacion-persona{
    margin: 30px 0;
}

