footer {
    background-color: #231F20;
    clear: both;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.pie {
    margin: 0 auto;
}

.mini-box-pie {
    float: left;
    width: 33%;
    margin: 0 auto;
    padding: 20px;
}

.icono-pie {
    width: 100%;
}

.iconos {
    width: 185px;
    margin: 0 auto;
}

.red-social {
    float:left;
    padding: 0 10px 0 0;
}

.newsletter-input {
    width: 205px;
    padding-top: 10px;
}

.newsletter {
    width: 280px;
    margin: 0 auto;
}

.caja-footer {
    float: left;
}

@media screen and (max-width: 800px){
            .mini-box-pie {
                width: 100%;
                text-align: center;
            }
            .terms {
                text-align: center;
            }
            .newsletter-input {
                margin: 0 auto;
                width: 280px;
            }
            .iconos{
                margin: 0 auto;
                width: 185px;
            }
    }