/*---------
grid

---------*/

.row{

    margin-left: -15px;
    margin-right: -15px;
}

/*---------
anuncios

---------*/
@media screen and (max-width: 1117px){
         
    .cabecera-cursos{
                padding-top:60px;
                width: 90%;
                margin:0 auto;
            }
    .cabecera-alumnos{

                padding-top:60px;
                width: 70%;
                margin:0 auto;
            }
           
    }

@media screen and (min-width: 1118px) {
        
    .cabecera-cursos{
                    padding-top:60px;
                    width: 70%;
                   
                }
    .cabecera-alumnos{
                    padding-top:60px;
                    width: 50%;
                  
                }
}
@media screen and (max-width: 966px){

    .filtros {
                display: none;
            }
    .todos-anuncios{
                width: 100%;
                float: none;
            }
    .row ul{
                width: 100%;
                
            }
    .filtros-hide-tablet {
                display: block;
            }
    .anuncio:hover{
                .hover-container{
                     display: none;
                }
               
            }
}

@media screen and (min-width: 967px){

    .filtros-hide-tablet {
                display: none;
        }
    .container-button-title{

            float: right;
        }

}


@media screen and (max-width: 865px){
    
    .cabecera-cursos{
                    width: 100%;
                   
        }
    .cabecera-alumnos{
                    width: 90%;
                   
        }
    }

@media screen and (max-width: 800px){
    
    .muneco-busqueda{
                display:none;
                   
        }
    .hide-sub{

            display: none;
        }
    .container-ordenar{

            display:none;
        }
    .ordenar-title{

            display: block;
        }
    .container-button-title{

            float: none;
            margin:0px 0px 20px 20px;
        }
     .title-margin{

            margin-left:20px;
        }
    .cabecera-cursos{
                padding-top:0;
                
            }
    .cabecera-alumnos{
                padding-top:0;
                
            }


}

@media screen and (min-width: 801px){

    .ordenar-title {
                display: none;
        }
          
}
@media screen and (max-width: 641px){

    
    .image-container{

            display: none;
        }
    .img-curso{

        display: none;
    }
    .no-display{
        display: none;
    }
    .foto{

        display:none;
    }
    .foto-alumno{
        display: none;
    }

}
