header {
        margin: 1.5rem 0;
        background-color: white;
        padding-bottom: 0px;
}

.img-logo {
    width: 200px;
    margin: 10px;
}

.menu ul{
    padding-left: 10px;
}

li.alineacion_vertical {

}

@media screen and (max-width: 1090px){
        .menu li.tamano_fijo {
                max-width: 100px;
        }
    }

    @media screen and (max-width: 900px) {
        .menu ul.esconder {
            display: none;
        }
        .registro {
            display: none;
        }
    }

    @media screen and (min-width: 899px) {
        .imagen-desplegable {
            display: none;
        }
        .dropdown {
            display: none;
        }
        .dropdown__wrap {
            display: none;
        }
    }

    @media screen and (max-width: 815px){
        .input-buscador {
            margin-left: 10px;
        }
        .menu {
            max-width: 30%;
        }
        .logo {
            max-width: 162px;
        }
        #input-buscador {
            width: 50%;
        }
        .container-button-buscador {
            min-width: 70px;
        }
    }

.logo {
    float:left;
}

.menu {
    text-align: center;
    line-height: rem(5px);
    float: right;
    margin-right: 20px;
    width: 70%;
}

.menu ul li {
    list-style: none;
    float: left;
    margin-left: 15px;
}

.registro {
    float:left;
    margin-left: 15px;
}

.menu li a {
    color: #404041;
}
.menu li a.active, .menu a:hover {
    color: #f15c22;
}

.buscar-top {
    display: inline;
}

.buscador-desplegado {
    clear: both;
    background-color: rgba(51, 51, 51, 0.15);
    display:none;
}

.imagen-lupa, .imagen-desplegable {
    margin-left: 5px;
    margin-top: 10px;
    max-width: 35px;
}

.lupa-buscador {
    float: right;
    margin-bottom: 10px;
}

#input-buscador {
    margin: 15px 0 15px 30px;
    max-width: 60%;
    float: left;
    border-radius: 5px;
}

.buscador-container-derecha {
    float: left;
    width: 36%;
    margin: 10px 0 0 0;
}

.imagen-cerrar-buscador {
    margin-left: 0;
    margin-top: 5px;
    max-width: 30px;
}

.container-button-buscador {
    width: 40%;
    margin-left: 10px;
}

.float-menu{
    float:left;
}

.header-mensajeria {
    margin-top: -10px;
}


/*---
dropdown
---*/

.dropdown__wrap {
    position: relative;
    padding-bottom: 5px;
    overflow: visible;
    float: left;
}

.dropdown__wrap a {
    color: rgb(144, 197, 219);
    text-decoration: none;
}

.dropdown {
    display: none;
    padding: 0;
    position: absolute;
        top: 50%;
        right: -20%;
}

.menu .dropdown li {
    background: #404041;
    border-bottom: 1px solid #fff;
    padding: 0;
    float: none;
}

.menu .dropdown a {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: .5rem 1rem;
    position: relative;
    text-transform: uppercase;
    width: 20rem;
}

.dropdown__wrap:hover .dropdown {
    display: block;
}

.menu .dropdown li:last-child {
    border-bottom: 0;
}

.dropdown li:hover a::before {
    background: #F15C22;
    content: '';
    display: block;
    position: absolute;
        top: 0;
        left: -.5rem;
    width: .5rem;
    height: 100%;
}

.dropdown li:hover a {
    color: #fff;
}

.dropdown:hover li:not(:hover) a {
    background-color: #000;
    color: #A4A4A4;
    opacity: .4;
}

.dropdown li:first-child {
    border-top: .75rem solid transparent;
    background-clip: padding-box;
    position: relative;
}

.dropdown li:first-child::before {
    border-color: transparent transparent #404041 transparent;
    border-style: solid;
    border-width: 0 .75rem .75rem .75rem;
    content: '';
    display: block;
    position: absolute;
        top: -.70rem;
        right: 1rem;
    height: 0;
    width: 1rem;
}

.menu li.alineacion_vertical a {
    color: #fff;
}