.todos-anuncios {
    float:right;
    width: 83%;
    margin: 10px 0 40px 0;

     li{
        list-style: none;
        text-align: center;

    }
}

.anuncio {

    margin-bottom:20%;
    position: relative;
    background-color: white;

      &:hover{

        .hover-container{
            display: block;
        }
    }

}
.content-container{

    padding:10px 20px 0 20px;

}
.content-container-cursos{

    padding:20px 20px 0 20px;

}

.texto-cuadrado {
    text-align: center;
    padding-bottom: 5px;
}

.texto-cuadrado-cursos{
    padding-bottom: 20px;
    text-align: center;
}

.mas-info{
    width: 100%;
    padding-bottom: 60px;
}

.anuncio-destacado{
    background-color: #1BA8A6;
    height: 340px;
}

.texto-cuadrado-destacado{
    padding:35px 20px;
}

.mas-info-destacado{
    margin:10px;
    padding-bottom: 20px;
}

/*--------
Buscador
-----------*/

.titular-seccion-buscador{
    width: 100%;
    float: right;
    margin-bottom: 30px;
    position: relative;
    padding: 15px;
}
.especial{
    float: left;
    width: 100%;
    margin-top: 5px;
}

.container-anuncios-buscador{
    background-color: white;
    overflow: hidden;
    margin-bottom: 30px;
}

.container-imagen-button{
    float: left;
    width: 25%;
    margin: 15px;
}

.imagen-anuncios-buscador{
    width: 100%;
    margin: 0 0 10px 5px;
}

.imagen-anuncios-creativos{
    width: 90%;
    margin: 0 0 10px 5px;
}

.texto-anuncios-buscador{
    float: right;
    width: 65%;
    margin: 25px 0 0 5px;
}
.container-dudas-cursos{
    width:100%;
    margin-top: 5px;
}

.container-cantidad{
    float: left;
    width: 100%;
    margin-right: 10px 10px 0 0;
}

.total-icono-buscador{
    float: left;
    width: 100%;
    margin-top: 15px;
}

@media all and (min-width: 500px) {
    .button-2 .type-color-3 .full-button{
        font-size: 12px;
    }
}

/*-------
ayuda

-------*/
.foto{
    margin: 0 auto;
    width: 36%;
    padding-top: 20px;
}

.foto-alumno {
    width: 100%;
}

.texto-cuadrado-large {
    text-align: center;
    padding: 70px 20px 78px 20px;
}

/*----------
encuentra
---------*/


.texto-cuadrado-small{
    text-align: center;
    padding: 20px 20px 0 20px;
}

.image-container{
    width: 100%;
    height: 0;
    position:relative;
    overflow: hidden;
    padding-bottom: 77%;
}

.img-curso{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width: 100%;

}

.texto-curso{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: white;
}

.hover-container{
    display:none;
    position:absolute;
    top:0;
    right:0;
    left:0;
    margin:auto;
    z-index:1;
    background-color:white;
    padding:0 15px;
}

.hover-container p{
    font-size: 14px;
}

/*---------
Anuncio ampliado
---------*/

.parte-izquierda-info {
    width: 60%;
    float: left;
}


.imagen-curso {
    margin-top: 20px;
    max-width: 100%;
}

