/*--------
Text inputs and text areas
--------*/

.pform{
    padding-top: 8px;
    margin: 0;
}

.caja-formulario{
    clear: both;
    margin-top: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    background: #E6E6E6;
    display: block;
    font-size: 0.876rem;
    line-height: 1rem;
    padding: .6rem;
    width: 100%;
    border: none;
    /*color:#A0A0A0;lo he cambiado, va bien? Ari*/
    color:black;
    font-weight: 400;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'SELECCIONAR';
  display: inline-block;
  background: #E6E6E6;
  border: 1px solid #F15C22;
  color:#F15C22;
  border-radius: 0;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 11pt;
}
.custom-file-input:hover::before {

}
.custom-file-input:active::before {
  background: white;
}


.big-textarea{
	padding-bottom: 50px;

}
#mini-input{
	width: 8%;
    display: inline-block;
    background-color:white;
    border-bottom:1px solid black;
    padding:.2rem;
}

#input-footer{
    width: 100%;
    background: white;
    border: 1px solid black;
    height: 20px;
}

label.error{

  background-color:#F15C22;
  font-size:12px;
  width: 170px;
  display: none;

}
label{

  display: block;
}

/*----------
Checkboxes, selects
----------*/

.form-check{

	float:left;
    padding-right: 10px;
    margin: 0;

}
.form-check span {
    color:#404041;
    margin-left: 3px;
}

.box-check {
     position: relative;
     background: url(../imagenes/box-dias.svg) no-repeat;
     background-size: contain;
     height: 120px;
    clear: both;
    margin-bottom: 10px;
}

select {
    height: 35px;
}

#input-generales{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #C2C2C2;
}

#input-portafolio {
    @extend #input-generales;
    width: 50%;
    margin-left: 10px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#input-sobre-mi {
    @extend #input-generales;
}

#input-programas {
  @extend #input-generales;
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 10px;
}

.input-mensaje {
    border: 1px solid #f15c22;
    background-color: white;
    margin-bottom: 20px;
}