.menu-ordenar ul{
	padding:0;
}

.menu-ordenar li{
	list-style: none;
    float: left;
    margin:30px;
}

.menu-ordenar li{
	text-transform:uppercase;
}

.menu-ordenar li a:hover,
.menu-ordenar li a.selection{
	color:#00A6A5;
}


