
 .masc{

        font-family:"Lato", sans-serif;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index:99999;
        display: none;
        -webkit-transition:opacity 400ms ease-in;
        -moz-transition:opacity 400ms ease-in;
        transition:opacity 400ms ease-in;
    }
    .masc::before{
        display: block;
        position:fixed;
        background:rgba(0,0,0,0.8);
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.masc:target{
    opacity:1;
    pointer-events:auto;

}


.popup{
    position: absolute;
    margin: 0 auto;
    width: 100%;

}

.popup-image-2{

    background-position: top 0px right 260px;
    background-repeat: no-repeat;
    background-image: url(../imagenes/muneco-gracias.png);
    background-size:13% auto;



}
.top{
    top:52px;

}
.top-gracias{

    top:43px;
}

.close{
    background: #f15c22;
    color:#FFF;
    line-height:25px;
    position:absolute;
    text-align:center;
    width:24px;
    text-decoration:none;
    border-radius:12px;
}

.close:hover{
    background:#333333;
}

.popup-box{

    padding:5px 20px 40px 20px;
    background:white;
    border-radius:5px;
    transition:all 500ms ease-in;
    border: 5px solid #54c4c7;
    margin:0 auto;
    position:relative;

}

.container-popup{
    width: 75%;
    margin: 0 auto;


}

.border{

    border:1px solid #404041;
    padding:0px 5px 0px 5px;
}
.movedown{

    margin:10% auto;
}
.movedown-2{
    margin:1% auto;
}

.movedown-3{

    margin:5% auto;
}

.link-facebook{
    width: 100%;

}
.margin-auto-popup{

  margin:0 auto;
  width: 45%;
  padding:20px 0px 10px 0px;
}

.margin-auto-gracias{

    width: 78%;
    margin:0 auto;
    padding:20px 0px 10px 0px;
}
.padding-button-popup{

    padding:23px 10px 24px 0px;
}

.img-facebook{
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #404041;
}

.img-proceso{
    margin: 0 auto;
    width: 70%;
}

.proceso{
    width: 100%;
}
.show-consejos{

    display:none;

}

.container-consejos{

    padding:35px 20px 20px 20px;

}
.lista-consejos{

    padding-top:1px;
}
.consejo{

    list-style: none;
    padding:20px 0px 20px 0px;

}
.texto-consejo{

    padding-left:40px;
}

.consejos-muneco{

    background-image: url(../imagenes/muneco-consejos.png);
    background-repeat:no-repeat;
    background-position:top center;
    height:72px;
    cursor:pointer;

}
.height-scroll{

    max-height: 370px;
    overflow: scroll;


}

/*responsive*/

@media screen and (max-width:500px){

    .popup-box{
        width: 100%;
        border:none;


    }

    .close{

        top:0;
        right:0;
    }

    .height-scroll{

    max-height: 100%;
    }

    .masc{

        position:absolute;
        top:0;

    }
    .popup-image{
        background-image:none;
    }
    .img-facebook{
    display: none;
}

}
@media screen and (min-width:501px){

    .popup-box{
        width: 500px;

    }
    .close{

        top:-12px;
        right:-12px;
    }

    .masc{
        position:fixed;
    }
    .popup-image{

    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../imagenes/ninologin.png);
    background-size:20% auto;

}
    .img-facebook{
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #404041;
}

}