table {
  border-collapse: collapse;
}

td, th {
    padding: 0.7rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
}

.reducir-tamano {
    padding: 0.3rem;
}

th {
	background-color: #DCDCDB;
}

.second-th {
    background-color: #F0F0F0
}

td {
	background-color: #F0F0F0;
}

.second-td {
    background-color: #DCDCDB;
}

.white-table{
	background-color: white;
}

.icono-tabla-on{
	display: none;
	margin: 0 auto;
}

.icono-tabla-off{
    display: block;
    margin: 0 auto;
}

.title-table{
	text-align: left;
}

.border-table{
	width: 100%;
	border: 0;
}

.border-blue{
	border: 2px solid #00A6A5;
	padding: 0;
}

.tabla {
    display: table;
}

.cell-tabla{
    display: table-cell;
    vertical-align: top;
    border: rgba(51, 51, 51, 0.15) 0 solid;
    border-width: 20px 20px 20px 0;
}