.cabecera-cursos{

    margin:0 auto;
}
.cabecera-alumnos{

    margin:0 auto;
}
.titulo-encabezado-1 {
   width: 70%;
   margin: 0 auto;
}
.titulo-encabezado{

    width: 100%;
}
.muneco-busqueda{

    background-image: url(../imagenes/muneco-busqueda.svg);
    background-repeat: no-repeat;
    background-size:100% auto;
    width: 133px;
    height: 162px;
    background-position:left bottom;
    margin-right:5px;
    
   
}

.contenido-titulo{
    width:100%;
    

}


