*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
	 margin: 0;
	 font-family: "Lato", sans-serif;
	 font-style: normal;
	 font-weight: 400;
	 color: #404041;
}

.background-4 {
    width: 100%;
    background-color: rgba(51, 51, 51, .15);
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
  float: right;
}

.margin-left{
    margin-left:10px;
}

.margin-right{
    margin-right:5px;
}

.clear{
    clear: both;
}

.no-margin{
    margin: 0;
}

.padding-top {
    padding-top: 50px;
}

.margin-top{
    margin-top:5px;
}
/* peta algo?
.margin-top-aampliado{
    margin-top: 30px;
    margin-left: 5px;
}*/

.padding-bottom {
    padding-bottom: 10px;
}

.linia{
    border: 0;
    border-top: 1px solid #999;
    margin-top:20px;
}
/*
.block{
    display: block;
}*/

.in-line{
    display: inline-block;
}

.opacity-hover:hover{
    opacity: .6;
    transition: all 0.1s ease;
    cursor: pointer;
}

.imagen-redondo{
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.15);
}

.espacio-inferior-ampliado {
    padding-bottom: 40px;
}

.imagen-perfil-aampliado {
    max-width: 40%;
}

/*si lelimino pasa algu?
.texto-perfil-nomargin {
    margin: 0px;
}
*/
.margin-auto{
    margin: 0 auto;
}/*habia una clase para esto? no la he encontrado y ue creado otra */

ul {
    padding-left:0;
    //añadido el martes porque petaba todos los ul con un margen raro.
}